/*  css configuration 
1. Position
2. Box Model
3. Tipografy
4. Visuization
5. utils
*/
/* ---------------------------- */
/* 2. Box modedl */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* 3. Tipografy */
    --tipografy-mulish: 'Mulish'sans-serif;

    /* Text-size styles */
    --font-12px: 12px;
    --font-14px: 14px;
    --font-16px: 16px;
    --font-18px: 18px;
    --font-20px: 20px;
    --font-24px: 24px;
    --font-30px: 30px;
    --font-36px: 36px;
    --font-48px: 48px;
    --font-60px: 60px;
    --font-72px: 72px;


    /* 4. Visualization */

    /* Color styles */
    --black: #000;
    --white: #fff;
    --primary-gray: #D9D9D9;
    --primary-green: #469276;
    --green-light-600: #95EFCD;
    --green-light-200: #E0FAF1;
    --color-active: rgb(70, 146, 118, 100);
    --color-links: rgb(48, 49, 53, 50);
    --primary-bg: #F5FFFB;
    --primary-text-color: #394451;
    --secondary-text-color: #30313580;
    --primary---primaty_100: rgba(237, 252, 247, 1);
    --primary---primaty_200: rgba(224, 250, 240, 1);
    --primary---primaty_300: rgba(215, 249, 236, 1);
    --primary---primaty_400: rgba(206, 248, 232, 1);
    --primary---primary_500: rgba(195, 246, 227, 1);
    --primary---primaty_600: rgba(149, 239, 205, 1);
    --primary---primaty_700: rgba(104, 232, 185, 1);
    --primary---primaty_800: rgba(60, 226, 164, 1);
    --primary---primaty_900: rgba(31, 204, 139, 1);
    --secondary---secondary_100: rgba(255, 214, 229, 1);
    --secondary---secondary_200: rgba(255, 199, 219, 1);
    --secondary---secondary_300: rgba(255, 189, 213, 1);
    --secondary---secondary_400: rgba(255, 173, 203, 1);
    --secondary---secondary_500: rgba(255, 165, 198, 1);
    --secondary---secondary_600: rgba(255, 112, 164, 1);
    --secondary---secondary_700: rgba(255, 76, 142, 1);
    --secondary---secondary_800: rgba(255, 25, 110, 1);
    --secondary---secondary_900: rgba(214, 0, 79, 1);
    --shades---shade_50: rgba(244, 247, 250, 1);
    --shades---shade_75: rgba(231, 237, 243, 1);
    --shades---shade_100: rgba(225, 229, 234, 1);
    --shades---shade_200: rgba(195, 202, 213, 1);
    --shades---shade_300: rgba(165, 176, 192, 1);
    --shades---shade_400: rgba(135, 150, 171, 1);
    --shades---shade_500: rgba(105, 124, 150, 1);
    --shades---shade_600: rgba(88, 105, 126, 1);
    --shades---shade_700: rgba(57, 67, 81, 1);
    --shades---shade_800: rgba(57, 67, 81, 1);
    --shades---shade_900: rgba(42, 50, 60, 1);


    /* Effect styles */
    --drop_shadow_small: 0px 1px 3px rgba(31, 45, 61, 0.5);
    --drop_shadow_medium: 0px 4px 6px rgba(31, 45, 61, 0.5);
}


html {
    font-size: 62.5%;
    font-family: var(--tipografy-mulish);
    list-style-type: none;
    list-style: none;
    text-decoration: none;
}

/*  Common global classes */
.bg {
    width: 100vw;
}

.bg--green {
    background-color: var(--primary-bg);
}

.opacity-40 {
    opacity: .25;
}

.header__bg, .navbar-nav {
    background-color: var(--white);
}

.section-container {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 0;
}

.section__heading {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 62.75px;
    text-align: left;
    color: #394451;
    margin: 7.2rem 0 4.2rem 0;
}

.min-h-400 {
    min-height: 400px;
}

.text-normal {
    font-size: 1.6rem !important;
    font-family: var(--tipografy-mulish);
    margin-right: 0;
    padding-left: 2.5rem;
}


/** Desktop version **/
/*  header  */

.nav>li:not(.active) {
    margin: 0 1rem;
    color: var(--color-links);
}

.nav>li:not(.active):hover {
    color: var(--color-active);
}

.nav>li a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: var(--font-16px);
}

.active {
    color: var(--color-active);
    margin: 0 1rem;
    text-decoration: underline;
}

/* landing section section 1 */
.landing-section__image {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.dog {
    width: 100%;
}

.btn-cta {
    color: var(--primary-green);
    border: solid 1px var(--primary-green);
    border-radius: 1rem;
    padding: .5rem 1.6rem;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.btn-cta:hover {
    background: linear-gradient(var(--green-light-200), var(--green-light-600));
}

a {
    text-decoration: none;
}

.container-gallery {
    max-width: 1200px;
}

.gallery-item {
    width: 300px !important;
    height: 300px;
}

/* About us section 4 */
.about-us {
    font-family: 'Mulish';
    font-size: 400;
}

.image-about-us>img {
    height: 500px !important;
    margin: auto;
}

.about-us__tex {
    text-align: justify !important;
}

/* Services */
.toggle-service {
    display: flex;
    flex-direction: column;
    height: auto;
}

.transform-Y-middle {
    transform: translateY(-50%);
}

.transform-Y-30 {
    transform: translateY(30%);
}

.arrow {
    width: 15px;
    height: 15px;
    border: none;
}


.down-arrow {
    transform: rotate(180deg);
}

.dots {
    border-bottom: dotted 1px;
    margin: 5px 2px;
}

.card {
    background-color: #D9D9D9;
}

.label-prices-mini-cart {
    font-weight: 700;

}

#footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-social-media>img {
    width: 24px;
    height: 24px;
    margin: 0 1rem;
}

/* --------------- Mobile -------------- */
@media (max-width: 769px) {
    .dog {
        width: 62.5%;
    }

    .btn-cta {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .container-hamburger-close-icons {
        width: 40px;
        height: 100%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem auto;

    }

    #primary-menu>li {
        margin: 1rem 0;
    }

    .menu-close {
        width: 30px;
        height: 100%;
    }

    .is-open {
        display: block;
    }


    .is-closed {
        display: none;
    }

    .menu-hamburger:hover {
        cursor: pointer;
    }

    .section__heading {
        font-size: 2.5rem;
        line-height: 34.75px;
        padding-left: 1.6rem;
    }

    .image-about-us {
        width: 100%;
        margin: auto;
    }

    .text-normal {

        padding-left: 0;
    }

}